# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Password handling
import getpass

db_password = getpass.getpass()

 ········

In [3]:
# Create a connection to the database
engine_string = "postgresql://postgres:" + db_password + "@localhost:5432/homework_db"

# engine = create_engine("postgresql://postgres:postgres@localhost:5432/homework_db")
engine = create_engine(engine_string)

In [4]:
# Assume the dataframe will be formatted like this:
query_cardholder_2 = """
Select cc.cardholder_id
    , t.*
    , m.merchant_name
    , mc.merchant_type
from credit_card cc
left join transaction t
    on t.credit_card_number = cc.credit_card_number
left join merchant m
    on m.merchant_id = t.merchant_id
left join merchant_category mc
    on mc.merchant_category_id = m.merchant_category_id
where cc.cardholder_id = 2
--    and credit_card_number = 4866761290278198714
--    and credit_card_number = 675911140852
order by 3 asc
limit 5
"""

cardholder_2_df = pd.read_sql(query_cardholder_2, engine)

cardholder_2_df

,cardholder_id,transaction_id,transaction_time,transaction_amount,credit_card_number,merchant_id,merchant_name,merchant_type
0,2,2439,2018-01-06 02:16:41,1.33,4866761290278198714,127,"Williams, Wright and Wagner",coffee shop
1,2,1867,2018-01-06 05:13:20,10.82,4866761290278198714,70,White-Hall,bar
2,2,3028,2018-01-07 15:10:27,17.29,4866761290278198714,126,Bartlett and Sons,pub
3,2,998,2018-01-10 10:07:20,10.91,675911140852,78,Ruiz-Anderson,pub
4,2,2655,2018-01-16 06:29:35,17.64,675911140852,136,Martinez-Robinson,bar

In [5]:
# Write function that locates outliers using standard deviation
def outlier_locator_based_on_std(dataframe_name, number_of_standard_deviations):
    # Make sure that number_of_standard_deviations is an integer
    if number_of_standard_deviations == int(number_of_standard_deviations):
        # Convert the transaction_amount column to a numpy array
        array_of_transactions = np.array(dataframe_name['transaction_amount'])
        # Calulate the mean and standard deviation of the transactions
        mean_value = np.mean(array_of_transactions, axis=0)
        std_value = np.std(array_of_transactions, axis=0)
        # Isolate left tail outliers
        left_tail_outliers = dataframe_name[dataframe_name['transaction_amount'] < (mean_value - (number_of_standard_deviations*std_value))]
        # Isolate right tail outliers
        right_tail_outliers = dataframe_name[dataframe_name['transaction_amount'] > (mean_value + (number_of_standard_deviations*std_value))]
        # Combine the outliers into a dataframe
        combined_dataframe = pd.concat([left_tail_outliers,right_tail_outliers], axis=0)
        # return the dataframe with the outliers
        return combined_dataframe
    else:
        print("The number of standard deviations must be an integer.")
        return None

In [6]:
# Find anomalous transactions for 3 random card holders
# The three credit cards with the highest standard deviations in their transaction amounts are numbers 3581345943543942, 501879657465, and 4761049645711555811,
# which are held by cardholders 6, 12, and 1 respectively

In [7]:
# Create dataframes for cardholders 6, 12, and 1
# Note that if they have more than one credit card, those cards will be included in these datasets as well
# Cardholder 6
query_cardholder_6 = """
Select cc.cardholder_id
    , t.*
    , m.merchant_name
    , mc.merchant_type
from credit_card cc
left join transaction t
    on t.credit_card_number = cc.credit_card_number
left join merchant m
    on m.merchant_id = t.merchant_id
left join merchant_category mc
    on mc.merchant_category_id = m.merchant_category_id
where cc.cardholder_id = 6
order by 3 asc
"""
cardholder_6_df = pd.read_sql(query_cardholder_6, engine)

# Cardholder 12
query_cardholder_12 = """
Select cc.cardholder_id
    , t.*
    , m.merchant_name
    , mc.merchant_type
from credit_card cc
left join transaction t
    on t.credit_card_number = cc.credit_card_number
left join merchant m
    on m.merchant_id = t.merchant_id
left join merchant_category mc
    on mc.merchant_category_id = m.merchant_category_id
where cc.cardholder_id = 12
order by 3 asc
"""
cardholder_12_df = pd.read_sql(query_cardholder_12, engine)

# Cardholder 1
query_cardholder_1 = """
Select cc.cardholder_id
    , t.*
    , m.merchant_name
    , mc.merchant_type
from credit_card cc
left join transaction t
    on t.credit_card_number = cc.credit_card_number
left join merchant m
    on m.merchant_id = t.merchant_id
left join merchant_category mc
    on mc.merchant_category_id = m.merchant_category_id
where cc.cardholder_id = 1
order by 3 asc
"""
cardholder_1_df = pd.read_sql(query_cardholder_1, engine)

In [8]:
# Anomalous transactions for Cardholder 6:
# Summary for Cardholder 6:
transaction_values = np.array(cardholder_6_df['transaction_amount'])
# Calulate the mean and standard deviation of the transactions
mean_value = np.mean(transaction_values, axis=0)
std_value = np.std(transaction_values, axis=0)

print(f"The mean value of Cardholder 6's transactions is ${round(mean_value,2)}.")
print(f"The standard deviation of Cardholder 6's transactions is ${round(std_value,2)}.")
print(f"")

if std_value > mean_value:
    print(f"Because the standard deviation of their transactions is larger than the mean, there cannot be any left tail outliers.")
    print(f"")

outlier_locator_based_on_std(cardholder_6_df,1)

The mean value of Cardholder 6's transactions is $115.31.
The standard deviation of Cardholder 6's transactions is $389.76.

Because the standard deviation of their transactions is larger than the mean, there cannot be any left tail outliers.

,cardholder_id,transaction_id,transaction_time,transaction_amount,credit_card_number,merchant_id,merchant_name,merchant_type
4,6,1291,2018-01-08 02:34:32,1029.0,3581345943543942,145,Hood-Phillips,bar
23,6,1842,2018-02-27 15:27:32,1145.0,3581345943543942,33,Vasquez-Parker,bar
40,6,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,"Brown, Estrada and Powers",coffee shop
67,6,3225,2018-07-03 14:56:36,1398.0,3581345943543942,8,Russell-Thomas,restaurant
79,6,1348,2018-07-24 22:42:00,1108.0,3581345943543942,35,Jarvis-Turner,pub
81,6,1459,2018-08-05 01:06:38,1379.0,3581345943543942,145,Hood-Phillips,bar
90,6,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,Romero-Jordan,food truck
92,6,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,Mccullough-Murphy,food truck
122,6,1408,2018-11-27 17:20:29,1279.0,3581345943543942,134,"Jenkins, Peterson and Beck",restaurant

In [9]:
# Anomalous transactions for Cardholder 12:
# Summary for Cardholder 12:
transaction_values = np.array(cardholder_12_df['transaction_amount'])
# Calulate the mean and standard deviation of the transactions
mean_value = np.mean(transaction_values, axis=0)
std_value = np.std(transaction_values, axis=0)

print(f"The mean value of Cardholder 12's transactions is ${round(mean_value,2)}.")
print(f"The standard deviation of Cardholder 12's transactions is ${round(std_value,2)}.")
print(f"")

if std_value > mean_value:
    print(f"Because the standard deviation of their transactions is larger than the mean, there cannot be any left tail outliers.")
    print(f"")

outlier_locator_based_on_std(cardholder_12_df,1)

The mean value of Cardholder 12's transactions is $74.01.
The standard deviation of Cardholder 12's transactions is $282.99.

Because the standard deviation of their transactions is larger than the mean, there cannot be any left tail outliers.

,cardholder_id,transaction_id,transaction_time,transaction_amount,credit_card_number,merchant_id,merchant_name,merchant_type
2,12,99,2018-01-02 23:27:46,1031.0,501879657465,95,Baxter-Smith,restaurant
18,12,2667,2018-01-23 06:29:37,1678.0,501879657465,92,Garcia-White,pub
48,12,2610,2018-03-12 00:44:01,1530.0,501879657465,20,Kim-Lopez,coffee shop
54,12,236,2018-03-20 10:19:25,852.0,501879657465,35,Jarvis-Turner,pub
105,12,1622,2018-06-21 13:16:25,1102.0,501879657465,128,"Pitts, Salinas and Garcia",coffee shop
113,12,3318,2018-06-27 01:27:09,1592.0,501879657465,136,Martinez-Robinson,bar
114,12,1129,2018-06-28 21:13:52,1108.0,501879657465,35,Jarvis-Turner,pub
158,12,1856,2018-09-23 19:20:23,1075.0,501879657465,13,Giles and Sons,pub
197,12,1204,2018-11-25 20:44:07,1123.0,501879657465,59,Williams Group,bar
198,12,2760,2018-11-27 15:36:05,1802.0,501879657465,70,White-Hall,bar
202,12,208,2018-12-14 08:51:41,748.0,501879657465,96,Johnson-Fuller,pub

In [10]:
# Anomalous transactions for Cardholder 1:
# Summary for Cardholder 1:
transaction_values = np.array(cardholder_1_df['transaction_amount'])
# Calulate the mean and standard deviation of the transactions
mean_value = np.mean(transaction_values, axis=0)
std_value = np.std(transaction_values, axis=0)

print(f"The mean value of Cardholder 1's transactions is ${round(mean_value,2)}.")
print(f"The standard deviation of Cardholder 1's transactions is ${round(std_value,2)}.")
print(f"")

if std_value > mean_value:
    print(f"Because the standard deviation of their transactions is larger than the mean, there cannot be any left tail outliers.")
    print(f"")

outlier_locator_based_on_std(cardholder_1_df,1)

The mean value of Cardholder 1's transactions is $110.67.
The standard deviation of Cardholder 1's transactions is $359.75.

Because the standard deviation of their transactions is larger than the mean, there cannot be any left tail outliers.

,cardholder_id,transaction_id,transaction_time,transaction_amount,credit_card_number,merchant_id,merchant_name,merchant_type
6,1,2913,2018-01-24 13:17:19,1691.0,4761049645711555811,14,Osborne-Page,coffee shop
70,1,2752,2018-07-31 05:15:17,1302.0,4761049645711555811,111,Padilla-Clements,coffee shop
79,1,2497,2018-09-04 01:35:39,1790.0,4761049645711555811,43,Wallace and Sons,coffee shop
80,1,1368,2018-09-06 08:28:55,1017.0,4761049645711555811,135,"Jacobs, Torres and Walker",bar
81,1,1536,2018-09-06 21:55:02,1056.0,4761049645711555811,36,Hamilton-Mcfarland,restaurant
91,1,968,2018-09-26 08:48:40,1060.0,4761049645711555811,134,"Jenkins, Peterson and Beck",restaurant
100,1,2330,2018-10-16 13:27:33,484.0,4761049645711555811,142,Thomas-Garcia,food truck
116,1,2672,2018-11-27 17:27:34,1660.0,4761049645711555811,29,Browning-Cantu,pub
121,1,3163,2018-12-07 07:22:03,1894.0,4761049645711555811,9,"Curry, Scott and Richardson",bar
132,1,1293,2018-12-30 23:23:09,1033.0,4761049645711555811,57,Thornton-Williams,pub

## Identifying Outliers Using Interquartile Range

In [11]:
# Write a function that locates outliers using interquartile range
def outlier_locator_based_on_iqr(dataframe_name, k_factor):
    # Convert the transaction_amount column to a numpy array
    array_of_transactions = np.array(dataframe_name['transaction_amount'])
    # Calculate the interquartile range
    q25 = np.percentile(array_of_transactions, 25)
    q75 = np.percentile(array_of_transactions, 75)
    iqr = q75 - q25
    # Calculate the cutoff values for outliers
    cutoff = iqr * k_factor
    lower_cutoff_value = q25 - cutoff
    upper_cutoff_value = q75 + cutoff
    # Isolate left tail outliers
    left_tail_outliers = dataframe_name[dataframe_name['transaction_amount'] < lower_cutoff_value]
    # Isolate right tail outliers
    right_tail_outliers = dataframe_name[dataframe_name['transaction_amount'] > upper_cutoff_value]
    # Combine the outliers into a dataframe
    combined_dataframe = pd.concat([left_tail_outliers,right_tail_outliers], axis=0)
    # return the dataframe with the outliers
    return combined_dataframe

In [12]:
# Find anomalous transactions for 3 random card holders
# I will find anomalous transactions for the same three card holders as before, this time using the interquartile range method:

# The three credit cards with the highest standard deviations in their transaction amounts are numbers 3581345943543942, 501879657465, and 4761049645711555811,
# which are held by cardholders 6, 12, and 1 respectively

In [13]:
# Anomalous transactions for Cardholder 6:
# Summary for Cardholder 6:
transaction_values = np.array(cardholder_6_df['transaction_amount'])
# Calulate the mean and standard deviation of the transactions
q25 = np.percentile(transaction_values, 25)
q75 = np.percentile(transaction_values, 75)
k_factor = 1.5

print(f"The 25th percentile value of Cardholder 6's transactions is ${round(q25,2)}.")
print(f"The 75th percentile value of Cardholder 6's transactions is ${round(q75,2)}.")
print(f"The interquartile range of Cardholder 6's transactions is ${round(q75-q25,2)}.")
print(f"")

if q25 - ((q75 - q25)*k_factor) < 0:
    print(f"Using a k-factor of {k_factor}, the lower cutoff value for anomaly detection would be less than zero, so there cannot be any left tail outliers.")
    print(f"")

outlier_locator_based_on_iqr(cardholder_6_df,k_factor)

The 25th percentile value of Cardholder 6's transactions is $4.14.
The 75th percentile value of Cardholder 6's transactions is $15.51.
The interquartile range of Cardholder 6's transactions is $11.37.

Using a k-factor of 1.5, the lower cutoff value for anomaly detection would be less than zero, so there cannot be any left tail outliers.

,cardholder_id,transaction_id,transaction_time,transaction_amount,credit_card_number,merchant_id,merchant_name,merchant_type
4,6,1291,2018-01-08 02:34:32,1029.0,3581345943543942,145,Hood-Phillips,bar
23,6,1842,2018-02-27 15:27:32,1145.0,3581345943543942,33,Vasquez-Parker,bar
26,6,38,2018-03-09 04:51:38,389.0,3581345943543942,76,Lowe PLC,restaurant
40,6,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,"Brown, Estrada and Powers",coffee shop
67,6,3225,2018-07-03 14:56:36,1398.0,3581345943543942,8,Russell-Thomas,restaurant
79,6,1348,2018-07-24 22:42:00,1108.0,3581345943543942,35,Jarvis-Turner,pub
81,6,1459,2018-08-05 01:06:38,1379.0,3581345943543942,145,Hood-Phillips,bar
90,6,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,Romero-Jordan,food truck
92,6,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,Mccullough-Murphy,food truck
122,6,1408,2018-11-27 17:20:29,1279.0,3581345943543942,134,"Jenkins, Peterson and Beck",restaurant

In [14]:
# Anomalous transactions for Cardholder 12:
# Summary for Cardholder 12:
transaction_values = np.array(cardholder_12_df['transaction_amount'])
# Calulate the mean and standard deviation of the transactions
q25 = np.percentile(transaction_values, 25)
q75 = np.percentile(transaction_values, 75)
k_factor = 1.5

print(f"The 25th percentile value of Cardholder 12's transactions is ${round(q25,2)}.")
print(f"The 75th percentile value of Cardholder 12's transactions is ${round(q75,2)}.")
print(f"The interquartile range of Cardholder 12's transactions is ${round(q75-q25,2)}.")
print(f"")

if q25 - ((q75 - q25)*k_factor) < 0:
    print(f"Using a k-factor of {k_factor}, the lower cutoff value for anomaly detection would be less than zero, so there cannot be any left tail outliers.")
    print(f"")

outlier_locator_based_on_iqr(cardholder_12_df,k_factor)

The 25th percentile value of Cardholder 12's transactions is $4.12.
The 75th percentile value of Cardholder 12's transactions is $15.67.
The interquartile range of Cardholder 12's transactions is $11.55.

Using a k-factor of 1.5, the lower cutoff value for anomaly detection would be less than zero, so there cannot be any left tail outliers.

,cardholder_id,transaction_id,transaction_time,transaction_amount,credit_card_number,merchant_id,merchant_name,merchant_type
2,12,99,2018-01-02 23:27:46,1031.0,501879657465,95,Baxter-Smith,restaurant
18,12,2667,2018-01-23 06:29:37,1678.0,501879657465,92,Garcia-White,pub
48,12,2610,2018-03-12 00:44:01,1530.0,501879657465,20,Kim-Lopez,coffee shop
54,12,236,2018-03-20 10:19:25,852.0,501879657465,35,Jarvis-Turner,pub
105,12,1622,2018-06-21 13:16:25,1102.0,501879657465,128,"Pitts, Salinas and Garcia",coffee shop
113,12,3318,2018-06-27 01:27:09,1592.0,501879657465,136,Martinez-Robinson,bar
114,12,1129,2018-06-28 21:13:52,1108.0,501879657465,35,Jarvis-Turner,pub
158,12,1856,2018-09-23 19:20:23,1075.0,501879657465,13,Giles and Sons,pub
195,12,2240,2018-11-23 09:08:05,233.0,501879657465,47,Martin Inc,restaurant
197,12,1204,2018-11-25 20:44:07,1123.0,501879657465,59,Williams Group,bar
198,12,2760,2018-11-27 15:36:05,1802.0,501879657465,70,White-Hall,bar
202,12,208,2018-12-14 08:51:41,748.0,501879657465,96,Johnson-Fuller,pub

In [15]:
# Anomalous transactions for Cardholder 1:
# Summary for Cardholder 1:
transaction_values = np.array(cardholder_1_df['transaction_amount'])
# Calulate the mean and standard deviation of the transactions
q25 = np.percentile(transaction_values, 25)
q75 = np.percentile(transaction_values, 75)
k_factor = 1.5

print(f"The 25th percentile value of Cardholder 1's transactions is ${round(q25,2)}.")
print(f"The 75th percentile value of Cardholder 1's transactions is ${round(q75,2)}.")
print(f"The interquartile range of Cardholder 1's transactions is ${round(q75-q25,2)}.")
print(f"")

if q25 - ((q75 - q25)*k_factor) < 0:
    print(f"Using a k-factor of {k_factor}, the lower cutoff value for anomaly detection would be less than zero, so there cannot be any left tail outliers.")
    print(f"")

outlier_locator_based_on_iqr(cardholder_1_df,k_factor)

The 25th percentile value of Cardholder 1's transactions is $5.32.
The 75th percentile value of Cardholder 1's transactions is $15.78.
The interquartile range of Cardholder 1's transactions is $10.46.

Using a k-factor of 1.5, the lower cutoff value for anomaly detection would be less than zero, so there cannot be any left tail outliers.

,cardholder_id,transaction_id,transaction_time,transaction_amount,credit_card_number,merchant_id,merchant_name,merchant_type
6,1,2913,2018-01-24 13:17:19,1691.0,4761049645711555811,14,Osborne-Page,coffee shop
41,1,3423,2018-04-09 10:24:32,283.0,4761049645711555811,50,Johnson-Watts,restaurant
70,1,2752,2018-07-31 05:15:17,1302.0,4761049645711555811,111,Padilla-Clements,coffee shop
79,1,2497,2018-09-04 01:35:39,1790.0,4761049645711555811,43,Wallace and Sons,coffee shop
80,1,1368,2018-09-06 08:28:55,1017.0,4761049645711555811,135,"Jacobs, Torres and Walker",bar
81,1,1536,2018-09-06 21:55:02,1056.0,4761049645711555811,36,Hamilton-Mcfarland,restaurant
91,1,968,2018-09-26 08:48:40,1060.0,4761049645711555811,134,"Jenkins, Peterson and Beck",restaurant
100,1,2330,2018-10-16 13:27:33,484.0,4761049645711555811,142,Thomas-Garcia,food truck
115,1,292,2018-11-26 20:54:39,267.0,4761049645711555811,24,"Rodgers, Johnston and Macias",food truck
116,1,2672,2018-11-27 17:27:34,1660.0,4761049645711555811,29,Browning-Cantu,pub
121,1,3163,2018-12-07 07:22:03,1894.0,4761049645711555811,9,"Curry, Scott and Richardson",bar
132,1,1293,2018-12-30 23:23:09,1033.0,4761049645711555811,57,Thornton-Williams,pub